<!DOCTYPE html>
<html lang="es">

<body>
  <h1>Bienvenido a Tablero Kanban.</h1>
  <p>&nbsp;</p>

  <div class= "intro">
        <h3>Conoce esta herramienta</h3>
        <p>Con esta herramienta podràs tener un tablero kanban para poder gestionar tus proyectos de manera eficiente.</p>
  </div>

  <div class= "informacion">
        <h3>Te preguntarás... ¿Qué es un tablero Kanban?</h3>
        <p>Un Tablero Kanban es una brillante herramienta visual que ofrece una visión general del estado actual del trabajo y simplifica la comunicación del equipo. También es un elemento fundamental del método Kanban, que ayuda a optimizar y mejorar continuamente cualquier proceso de negocios. Visualizar el trabajo en un tablero Kanban aumentará la productividad y eliminará el caos en tu lugar de trabajo.</p>
        <%= image_tag('board.png', alt: "tablero Kanban")%>
        <p>Visita la siguiente sección si deseas saber más sobre el tema:</p>
        <li><%= link_to "Conoce màs", pages_about_path %></li>
        <br>
  </div>

    <div class= "Funciones">
        <h3>Tableros Digitales</h3>
        <p>A medida que el sistema kanban fue ganando adeptos entre los equipos de software e ingeniería, los tableros de kanban experimentaron una transformación digital. Los tableros digitales permiten a los equipos que no comparten un espacio físico de oficina utilizar tableros de kanban de forma remota y asíncrona.<p>
        <p>Con esta herramienta podrás:</p>
        <ol>
            <li>Crear Tarjetas</li>
            <li>Crear Clumnas</li>
            <li>Mover tarjetas</li>
            <li>Mover Columnas</li>
        </ol>
        <p>¡Esperamos que te sean útiles las funciones de esta herramienta!</p>

  </div>

</body>

</html>